<div class="container">
<h1>Please sign in</h1>

<%= form_tag authenticate_session_path do %>
  <div>
    <%= label_tag :name %><br/>
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>

  <br>

  <div>
    <%= submit_tag "Sign in", class: "btn btn-default" %>
  </div>

<% end %>

  <p> - or - <p>
  <%= link_to "Sign Up", registration_path(:login), class: "btn btn-default"  %>

</div>
