<html>
<div class="container">
  <h1 class="jumbotron">its the TWITTS</h1>

  <% if @current_user %>
  <%= link_to "Sign Out", sign_out_path, class: "btn btn-default pull-right" %>
  <% end %>
  <% unless @current_user %>
  <%= link_to "Sign In", sign_in_path, class: "btn btn-primary pull-right" %>
  <%= link_to "Sign Up", registrations_path(:login), class: "btn btn-primary pull-right" %>
<% end %>

  <%= link_to "Add New Post", new_post_path, class: "btn btn-primary" %>

  <br>
  <br>

  <div class="container">
  <div class="follow">


  <div class="col-md-3 col-xs-2">
  <h4>Following</h4>
  <% @current_user.all_following.each do |user| %>
    <li><%= link_to "unfollow", stop_following_path(user_id: user.id), method: :post, class: "btn btn-danger btn-xs", data: {confirm: "Really stop following the super awesome tweets from #{user.name}?"} %>
      - <%= user.name %> </li>
  <% end %>

  <h4> Follow These guys too </h4>
  <% @users.each do |user| %>
      <% unless @current_user.following?(user) %>
      <li><%= link_to "follow", start_following_path(user_id: user.id), method: :post, class: "btn btn-default btn-xs"%>
       - <%= user.name %> </li>
      <% end %>
  <% end %>
</div>

    <div class="col-md-9 col-xs-9">
      <h4>What people you follow are saying:</h4>
      <br>
    <% @timeline.each do |w| %>
    <ul>
      <h5><%= w.body %></h5>
      - <%= w.user.name %>

    </ul>
    <% end %>
    <%= paginate @timeline %>
    </div>
  </div>



  <ul style="list-style: none;" class="col-md-9">
    <h4>Read what others are saying:</h4>
    <% @posts.each do |post| %>
    <ul>
      <%= post.body %> <br>
      - <%= post.user.name %>
    </ul>
    <br>
    <% end %>
    <%= paginate @posts %>

  </ul>
  <br>
  <!-- Facebook -->
  <div class="slide-social">
      <div class="button">
          <!-- Place FB Like Button Here -->
      </div>
      <div class="facebook icon">
          <i class="icon-facebook"></i>
      </div>
      <div class="facebook slide"><p>like</p></div>
  </div>
  <!-- Twitter -->
  <div class="slide-social">
    <div class="button">
        <!-- FYI: Add your Twitter username to data-via -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.twitter.com/justinmckelvey" data-text="Slide Buttons" data-via="JWade">tweet</a>
    </div>
    <div class="twitter icon">
        <i class="icon-twitter"></i>
    </div>
    <div class="twitter slide"><p>tweet</p></div>
  </div>
  <!-- Linkedin -->
  <div class="slide-social">
      <div class="button">
          <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
          <script type="IN/Share" data-url="" data-counter="center"></script>
      </div>
      <div class="linkedin icon">
          <i class="icon-linkedin"></i>
      </div>
      <div class="linkedin slide"><p>share</p></div>
  </div>
</div>




<footer class="col-md-offset-1">Copywright JWADE - 2015</footer>
</html>
