<div style="background: #95a5a6;">
<div class="container">
  <h1 class="jumbotron">Welcome to TimeSuck</h1>

  <% if @current_user %>
  <%= link_to "Sign Out", sign_out_path, class: "btn btn-default btn-lg pull-right" %>
  <% end %>
  <% unless @current_user %>
  <%= link_to "Sign In", sign_in_path, class: "btn btn-primary pull-right" %>
  <%= link_to "Sign Up", registrations_path(:login), class: "btn btn-primary pull-right" %>
<% end %>

  <%= link_to "Add New Post", new_post_path, class: "btn btn-primary" %>

  <br>
  <br>
  <ul style="list-style: none;" class="col-md-10 col-md-offset-1">
    <% @posts.each do |post| %>
    <li>
      <%= post.body %> <br>
      - <%= post.user.name %>

    </li>
    <br>
    <% end %>
  </ul>
</div>

<h2>You are following: </h2>

<% @current_user.all_following.each do |user| %>
  <li><%= user.name %> - <%= link_to "unfollow", stop_following_path(user_id: user.id), method: :post, class: "btn btn-danger", data: {confirm: "Really stop following the super awesome tweets from #{user.name}?"} %> </li>
<% end %>

<h2> Not Following: </h2>

<% @users.each do |user| %>
    <% if @current_user.following?(user) %>
    <li><%= user.name %> -
      <%= link_to "follow", start_following_path(user_id: user.id), method: :post, class: "btn btn-default btn-xs"%>
    <% end %>
    </li>
<% end %>


<footer class="col-md-offset-1">Copywright JWADE - 2015</footer>
</div>
